<phpunit bootstrap="./application/bootstrap.php">
    <testsuite name="AxiomaTracker_suite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <directory suffix=".php">../library/Axioma</directory>
            <exclude>
                <directory suffix=".phtml">../application</directory>
                <directory>../application/models/Db/Entity</directory>
                <directory>../application/models/Db/Proxy</directory>
                <file>../application/Bootstrap.php</file>
                <file>../application/controllers/ErrorController.php</file>
                <file>../application/configs/fixtures.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/report" charset="utf-8"
            yui="true" highlight="true" lowUpperBound="80" />
        <log type="testdox" target="./log/testdox.html" />
    </logging>
</phpunit>